body {
    font-family: sans-serif;
    background-color: black;
}
p {
    color: limegreen;
    display: block;
    margin: 0;
}

#controls_container {
    text-align: center;
    width: 600px;
    height: 70px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0;
}

#canvas_container {
    text-align: center;
    margin: 0;
}

canvas {
    background-image: url("seamless_space.png");
    /*border: 4px solid silver;*/
    background-position-y: 0px;
}

/*
#ship_explosion_full {
    position: absolute;
    top: 200px; left: 200px;
}
*/

